.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col1 {
  width: 50%;
  justify-items: center;
  margin: 0 auto;
  align-self: flex-start;
  /* border: 1px solid white; */
  margin: 10px;
}

.col2 {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  justify-self: center;
  /* border: 1px solid white; */
  margin: 10px;
  overflow-y: scroll;
  max-height: 100vh;
}

#formField {
  width: 60vh;
}
